<div style="display: flex; justify-content: center;">
    <mat-card style="margin: 1em; width: 100%;">
        <mat-card-header>
            <mat-card-title>Predicción de Rankings mediante Factores Clave</mat-card-title>
            <mat-card-subtitle>Su función principal consiste en anticipar el posicionamiento que alcanzará una revista, considerando los parámetros más relevantes en el momento de clasificarla.</mat-card-subtitle>
          </mat-card-header>
        <mat-card-content class="container-form">
            <form [formGroup]="form" (ngSubmit)="save( $event )">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Titulo</mat-label>
                    <input matInput type="text" placeholder="Titulo de la revista" formControlName="title">
                    <mat-error *ngIf="form.get('title').hasError('required')">Campo requerido</mat-error>
                </mat-form-field>
                <div style="display: flex; justify-content: space-between;">
                    <mat-form-field appearance="outline" style="width: 33%;">
                        <mat-label>Documentos</mat-label>
                        <input matInput type="number" min="0" placeholder="Total de docs" formControlName="total_docs">
                        <mat-error *ngIf="form.get('total_docs').hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 33%;">
                        <mat-label>Citas</mat-label>
                        <input matInput type="number" min="0" placeholder="Número de citas" formControlName="new_cites">
                        <mat-error *ngIf="form.get('new_cites').hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 33%;">
                        <mat-label>Sjr</mat-label>
                        <input matInput type="number" min="0" placeholder="Número de sjr" formControlName="sjr">
                        <mat-error *ngIf="form.get('sjr').hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <mat-form-field appearance="outline" style="width: 49%;">
                        <mat-label>Cuartil</mat-label>
                        <input matInput type="number" min="0" placeholder="Mejor cuartil" formControlName="best_quartile">
                        <mat-error *ngIf="form.get('best_quartile').hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 49%;">
                        <mat-label>Referencias</mat-label>
                        <input matInput type="number" min="0" placeholder="Total de referencias" formControlName="total_refs">
                        <mat-error *ngIf="form.get('total_refs').hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-flat-button type="submit" color="primary" (click)="openDialog()">Predecir</button>
                </div>
            </form>
        </mat-card-content>
      </mat-card>
</div>