<div>
    <mat-card-header>
      <mat-card-title>Resultado Predictivo</mat-card-title>
      <mat-card-subtitle>Este es el ranking que ocupa tu revista basado en los datos proporcionados.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin: 0 1em !important">
        <h3>Ranking a ocupar: {{prediction}}</h3>
    </mat-card-content>
    <mat-card-actions align="end" style="margin-top: 2em;">
      <button mat-flat-button color="primary" mat-dialog-close>Entendido</button>
    </mat-card-actions>
</div>