<h2 fxLayoutAlign="center" class="mt">Datos de empresa</h2>

<table class="table">
    <tr>
        <th class="table__cell" >Nombre comercial</th>
        <td class="table__cell">{{companyDetail.commercial_name }}</td>
    </tr>
    <tr>
        <th class="table__cell">Tipo nombre de identificación</th>
        <td class="table__cell">{{companyDetail.identification_type_name }}</td>
        <th class="table__cell">Tipo de identificación</th>
        <td class="table__cell">{{companyDetail.identification_type }}</td>
        <th class="table__cell">Numero de identificación</th>
        <td class="table__cell">{{companyDetail.identification_number}}</td>
    </tr>
    <tr>
        <th class="table__cell">Nombre fuente</th>
        <td class="table__cell">{{companyDetail.source_name}}</td>
        <th class="table__cell">Nombre sector</th>
        <td class="table__cell">{{companyDetail.sector_name}}</td>
        <th class="table__cell">Mercado comercial</th>
        <td class="table__cell">{{companyDetail.marketplace_name}}</td>
    </tr>
    <tr>
        <th class="table__cell">Nombre impuestos</th>
        <td class="table__cell">{{companyDetail.taxation_name}}</td>
        <th class="table__cell">Creado por</th>
        <td class="table__cell">{{companyDetail.created_by}}</td>
        <th class="table__cell">Nombre artistico</th>
        <td class="table__cell">{{companyDetail.stage_name}}</td>
    </tr>
    <tr>
        <th class="table__cell">Nombre de segmentación</th>
        <td class="table__cell">{{companyDetail.segmentation_name}}</td>
        <th class="table__cell">Actualizado por</th>
        <td class="table__cell">{{companyDetail.updated_by}}</td>
        <th class="table__cell">Created por</th>
        <td class="table__cell">{{companyDetail.created_by}}</td>
    </tr>
    <tr>
        <th class="table__cell">Actualizado a las</th>
        <td class="table__cell">{{companyDetail.updated_at}}</td>
        <th class="table__cell">Nombre</th>
        <td class="table__cell">{{companyDetail.name}}</td>
        <th class="table__cell">Industria</th>
        <td class="table__cell">{{companyDetail.industry}}</td>
    </tr>
    <tr>
        <th class="table__cell">cantidad empleados</th>
        <td class="table__cell">{{companyDetail.employees}}</td>
        <th class="table__cell">Impuestos</th>
        <td class="table__cell">{{companyDetail.taxation}}</td>
        <th class="table__cell">Correo electrónico</th>
        <td class="table__cell">{{companyDetail.email}}</td>
    </tr>
    <tr>
        <th class="table__cell">Teléfono</th>
        <td class="table__cell">{{companyDetail.phone}}</td>
        <th class="table__cell">Dirección</th>
        <td class="table__cell">{{companyDetail.address}}</td>
        <th class="table__cell">Marca comercial</th>
        <td class="table__cell">{{companyDetail.trademark}}</td>
    </tr>
    <tr>
        <th class="table__cell">Mercado</th>
        <td class="table__cell">{{companyDetail.marketplace}}</td>
        <th class="table__cell">Sector</th>
        <td class="table__cell">{{companyDetail.sector}}</td>
        <th class="table__cell">segmentacion</th>
        <td class="table__cell">{{companyDetail.segmentation}}</td>
    </tr>
    <tr>
        <th class="table__cell">Fuente</th>
        <td class="table__cell">{{companyDetail.source}}</td>
        <th class="table__cell">Etapa</th>
        <td class="table__cell">{{companyDetail.stage}}</td>
        <th class="table__cell">Descripción</th>
        <td class="table__cell">{{companyDetail.description}}</td>
    </tr>
</table>