<form fxLayout="column" fxFlex="95%" fxFlex.gt-xs="50%" fxFlex.gt-sm="40%" fxFlex.gt-md="30%" class="form"
  [formGroup]="form" (ngSubmit)="resetPassword( $event )">
  <h1 class="mb form-title">Restablecer contraseña</h1>

  <div *ngIf="showAlert" class="mb" [ngClass]="{
                'alert--danger': messageError, 
                'alert--success': !messageError
            }">
    {{alertMessage}}
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
    <button type="button" matSuffix (click)="hide1 = !hide1" aria-label="ocultar contraseña" class="btn--icon">
      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirmar contraseña</mat-label>
    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="passwordConfirm">
    <button type="button" matSuffix (click)="hide2 = !hide2" aria-label="ocultar contraseña" class="btn--icon">
      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div fxLayoutAlign="center" class="form__btngroup">
    <button mat-raised-button class="form__btn" type="submit">
      <mat-icon>auto_fix_high</mat-icon> Cambiar
    </button>
  </div>
  <hr class="line">
  <div fxLayoutAlign="center">
    <a routerLink="/login" class="form__link">Ir a login</a>
  </div>
</form>
